<!DOCTYPE html>
<html lang="uk-ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>1vs9.dev | rawrrr</title>
    <link rel="shortcut icon" href="/static/knot.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">

    <!-- Preload LCP image -->
    <link rel="preload" as="image" href="{{ url_for('static', filename='avatar.png') }}">
</head>
<body>
    <div class="card">
        <img src="{{ url_for('static', filename='avatar.png') }}"
             alt="1vs9"
             class="avatar"
             width="300" height="400" 
             fetchpriority="high">
        <div class="content">
            <h1>&lt;- я <span class="highlight">yung fimoz</span></h1>
            <p class="subtitle">маленькая летающая фурри мышка ✨</p>

            <div class="links">
                <a href="https://github.com/1vs9-standart" target="_blank">🐾 GitHub</a>
                <a href="https://t.me/Uw1vs9" target="_blank">💌 Telegram</a>
                <a href="https://discord.gg/bzn4Ukd2jk" target="_blank">🔗My SCP:SL Server</a>
                <a href="https://www.f-list.net/c/1vs9%20aka%2069" target="_blank">🔞 Just 69</a>
            </div>

            <div class="skills">
                <h2>Что я умею (и не умею)</h2>
                <ul>
                    <li>✔️ Умею запускать серверы</li>
                    <li>✔️ Умею нажимать кнопки</li>
                    <li>✔️ Я вроде roflan DevOps (iptables -F)</li>
                    <li>🌿<a href="{{ url_for('static', filename='zaza.png') }}" target="_blank">Умею курить ZAZA</a></li>
                    <li>❤️ А, и самое главное, ещё умею восхищаться лапками🐾</li>
                    <li>🎨 Не умею делать дизайн красиво (но chat-gpt стараеться)</li>
                    <li>❌ Крестик </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
